<html>
<head>
  <title>Sample Application Template</title>
<link rel="stylesheet" href="stylesheets/application.css" type="text/css" media="screen, projection">
</head>
<body>
  <section class="container">
    <%= yield %>
  </section>
</body>
</html>
